@charset "utf-8";
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    html,body{
        height: 100%!important;
    }
    .container{
        display: block!important;
        height: 100%!important;
    }
    .leftbox{
        width: 100%!important;
    }
    .initialize{
        display: none!important;
    }
    .rightboxpos{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
}

#canvas {
    display: none;
}

/*美化最后再做*/
.container {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    height: 550px;
    border-radius: 7px;
    overflow: hidden;
}

.leftbox {
    background: #42b983;
    width: 310px;
    height: 100%;
}

.rightbox {
    background: antiquewhite;
    flex: 1;
    height: 100%;
}

.le-top{
    display: flex;
    padding: 8px;
    border-bottom: 0.5px solid rgba(255,255,225,0.7);
    position: relative;
    padding-bottom: 2px;
}
.le-top-tx{

}
.le-top-name{
    flex: 1;
    line-height: 40px;
    padding-left: 8px;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    text-shadow: 2px 0px 13px #333;
}
.le-downmenu{
    position: absolute;
    right: 5px;
    cursor: pointer;
    color: rgba(225,225,225,.5);
    font-size: 26px;
    line-height: 40px;
}
.le-search{
    padding: 10px 5px;
    border-bottom: .5px solid rgba(225,225,225,.7);
    position: relative;
}
.le-search input[type='text']{
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 0px none;
    height: 30px;
    padding-left: 29px;
}
.le-searchs{
    position: absolute;
    top: 10px;
    color: #c0c0c0;
    left: 5px;
    border-right: .5px solid #c0c0c0;
    padding: 3px 6px;
    height: 30px;


}
.li-route-fl{
    display: flex;
    margin: 0px 0px 5px 0;
    color: #fff;
    font-size: 21px;
    text-align: center;
    border-bottom: .5px solid rgba(225,225,225,0.7);
    line-height: 37px;
    padding: 3px 0px
}
.li-route-fl div{
    flex: 1;
    cursor: pointer;
}
.li-route-fl div:hover{
    color: #ADFF2F;
    text-shadow: 2px 0px 13px #333;
}
.li-route-active{
    color: #ADFF2F;
    text-shadow: 2px 0px 13px #333;
}
.li-route-fl div:not(:last-of-type){
    border-right: .5px solid rgba(225,225,225,0.7);
}
.item {
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 0.5px solid rgba(255,255,225,0.7);
    color: #fff
}
a{
    text-decoration: none;
}

.item::after {
    content: "";
    display: block;
    clear: both;
}

.item-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 4px;
}
.item-new-msg{
    position: relative;
}
.new-msg{
    position: absolute;
    top: -2px;
    left: 100%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: red;
    color: #fff;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-left: -15px;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-date {
    font-size: 13px;
}

.item-info {
    overflow: hidden;
}

.item-info-msg {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.chat_window {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.chat_top {
    height: 50px;
    text-align: center;
    border-bottom: .5px solid #fff;
    line-height: 50px
}

.chat_bottom {
    height: 180px;
    display: flex;
    flex-direction: column;
}

.chat_content {
    padding: 10px;
    flex: 1;
    overflow-y: auto;
}
.chat-close{
    float: right;
    margin-right: 13px;
    cursor: pointer;
    color: #c0c0c0;
    transition: all 1.5s;
}
.chat-close:hover{
    color: #333;
    transform:rotate(90deg);
}
.messagebox {
    width: 100%;
}

.messagebox::after {
    content: "";
    display: block;
    clear: both;
}

.msg-date {
    text-align: center;
    font-size: 13px;
    color: #c0c0c0;
}

.mes-right, .mes-left {
    display: inline-block;
    border-radius: .4em;
    padding: 9px 13px;
    position: relative;
    max-width: 230px;
    word-wrap: break-word;
    font-size: 14px;
}

.mes-left {
    margin-left: 5px;
    background: #ffffff;
}

.mes-right {
    float: right;
    margin-right: 5px;
    background: #b2e281;
}

.mes-left::after, .mes-right::after {
    position: absolute;
    top: 14px;
    content: "";
    border: 6px solid transparent;
    width: 0px;
}

.mes-left::after {
    right: 100%;
    border-right-color: #fff;
    border-right-width: 8px;
}

.mes-right::after {
    left: 100%;
    border-left-color: #b2e281;
    border-left-width: 8px;
}

.file-img {
    height: 40px;
    border-top: .5px solid #fff;
}
.file-img i {
    font-size: 30px;
    color: #c1c1c1;
    margin: 0px 2px;
    cursor: pointer;
    line-height: 40px
}
.chat_bottom_input {
    background: #DCDCDC;
    padding: 4px;
    flex: 1;
    display: flex;
}

.chatInputBox {
    resize: none;
    width: 100%;
    flex: 1;
    border: 0px none;
    border-radius: 4px;
    background: #FFFAF0;
    outline: none;
    padding: 5px;
    font-size: 14px;
    margin: 0px;
    font-family: inherit;
    white-space: pre-wrap;
    table-layout: fixed;
    word-break: break-all;
}

.initialize {
    width: 100%;
    height: 100%;
    position: relative;
    background: gainsboro;
}

.initialize::after {
    position: absolute;
    width: 100%;
    content: attr(data-content);
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px 1px #333
}
.btndisab{
    opacity: .5;
    cursor: no-drop;
}
.btns{
    cursor: pointer;
}
.send {
    float: right;
    color: #fff;
    background-color: #5cb85c;
    display: inline-block;
    padding: 6px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #4cae4c;
    border-radius: 4px;
    outline:none;
    margin-top: 3px;
}

.send:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.float-l {
    float: left;
    margin-right: 10px;
}

.float-r {
    float: right;
    margin-left: 10px;
}