<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/wx.css">
    <script src="js/vue.min.js"></script>
    <script src="js/wb.js"></script>
</head>
<body>
<canvas id="canvas" width="40" height="40"></canvas>
<!--容器-->
<div class="container">
    <!--左边-->
    <div id="left-arrow" class="leftbox">
        <!--top-->
        <div></div>
        <!--search-->
        <div></div>
        <!--bottom-->
        <div class="li-route">

            <div class="item" v-for="(item,index) in friendli" :key="index" @click="chatWindow(index,item)">
                <div class="item-date float-r">{{ item.date }}</div>
                <div class="item-img float-l item-new-msg" >
                    <img :src="item.tx">
                    <div class="new-msg" v-show="item.infoNum >0 ? true : false">{{ item.infoNum }}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">{{ item.name }}</div>
                    <div class="item-info-msg">{{ item.msg }}</div>
                </div>
            </div>


            <div class="item">
                <div class="item-date float-r">19:30</div>
                <div class="item-img float-l item-new-msg"><img src="img/kk.jpg">
                <div class="new-msg">9</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">roco</div>
                    <div class="item-info-msg">ssssssssssssssssssss</div>
                </div>
            </div>

        </div>
    </div>
    <!--右边-->
    <div id="right-arrow" class="rightbox">

        <!--聊天窗口-->
        <div v-show="isLt" class="chat_window">
            <!--top-->
            <div class="chat_top">{{ name }}</div>
            <!--content-->
            <div class="chat_content">

                <div class="messagebox" v-for="(item,index) in chatRecord" :key="index">
                    <div class="msg-date">{{ item.date }}</div>
                    <div class="item-img " :class="item.code=='he'?'float-l':'float-r'">
                        <img :src="item.tx"></div>
                    <div :class="item.code=='he'? 'mes-left':'mes-right'">{{ item.msg }}</div>
                </div>
            </div>
            <!--bottom-->
            <div class="chat_bottom">
                <div class="file-img">
                    <button @click="sendMsg" id="send" class="send" :class="[ isDisab ? 'btns' :'btndisab']" disabled="disabled">发送</button>
                </div>
                <div class="chat_bottom_input">
                    <textarea spellcheck="false" v-model="inputValue" class="chatInputBox" @keyup.enter="sendMsg"></textarea>
                </div>

            </div>
        </div>

        <!--初始化窗口-->
        <div v-show="!isLt" class="initialize" data-content="暂未选择聊天">

        </div>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>